@page "/tickets"

<PageTitle>Tickets</PageTitle>

<h1>Tickets</h1>

<p>En esta vista se visualizan los tickets.</p>

@if (_ticketSummaries != null && _error == null)
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>F. Creación</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var ticketSummary in _ticketSummaries)
        {
            <tr>

                <td>@ticketSummary.Id</td>
                <td>@ticketSummary.Title</td>
                <td>@ticketSummary.Created.ToShortDateString()</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    if (_error != null)
    {
        <p><em>@_error</em></p>
    }
    else
    {
        <p><em>Loading...</em></p>
    }
}


